/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Viewport height, makes sure the body takes the full screen */
}

#chatbox {
    width: 90%; /* Taking up 80% of screen width */
    /* max-width: 800px; /* Max width to ensure readability */
    height: 90%; /* Taking up 80% of screen height */
    /* max-height: 600px; /* Max height */
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

#messages {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto; /* To ensure scrolling when messages overflow */
    border-bottom: 1px solid #e0e0e0;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 1000px;
    font-size: 20px;
}

.user-msg {
    background-color: #e0e0e0;
    align-self: flex-center;
}

.sys-msg {
    background-color: #cfe6ff;
    align-self: flex-start;
}

.thinking-msg {
    background-color: #c8e6c8;
    align-self: flex-start;
}

.citations-msg{
    background-color: #e6f2ea;
    align-self: flex-start;
    font-size: 18px;
}

input[type="text"] {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin: 15px;
    width: 60%; /* Subtracting the margins */
    font-size: 20px;
}

button {
    padding: 20px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    align-self: flex-start;
    font-size: 22px;
}

#thumbsUpButton,
#thumbsDownButton {
    padding: 20px 25px; /* Increase the padding for a bigger size */
    background-color: transparent; /* Set the background color to transparent */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; /* Reduce the margin for less space between buttons */
    align-self: flex-start;
    font-size: 22px;
}

#closeConversation {
    padding: 15px 18.75px; /* Reduce the padding by 25% */
    background-color: #e9e756;
    color: #333333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 11.25px; /* Reduce the margin by 25% */
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 22px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}